.btn {
  display: flex;
  cursor: pointer;
  text-transform: uppercase;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 35px;
}

.btn--big {
  width: 168px;
  padding: 19px 0;
}

.btn--small {
  width: 135px;
  padding: 18px 0;
}

.btn--red {
  background: #F5170E;
  color: #FFF;
}

.btn--white {
  background: #FFF;
  border: 1px solid #F5170E;
  color: #F5170E;
  transition: .3s;
}

.btn--white:hover {
  background: #F5170E;
  color: #FFF;
}

.btn--grey {
  background: #8E8E8E;
  color: #FFF;
  transition: .3s;
}

.btn--grey:hover {
  background: #2B2B2B;
}