.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 2px;
  text-align: right;
}

.contacts__phone {
  font-size: 26px;
  line-height: 1.05em;
}

.contacts__dropdown-title {
  padding-right: 3px;
  color: #98A4A8;
  font-size: 13px;
}

.contacts__dropdown-title:hover {
  color: #FFFFFF;
  text-decoration: underline;
  cursor: pointer;
}

.contacts__desc {
  font-size: 11px;
}