.wrapper--secondary-page .hero {
  background: url('../../img/secondary-page-header.png') center center / cover no-repeat;
}

.header .container {
  justify-content: space-between;
  padding: 29px 0 95px;
}

.header__col {
  display: flex;
}

.hero__content {
  margin-top: 27px;
  width: 520px;
}

.hero__content--page-services {
  margin-top: 0;
}

.hero__content--page-reviews{
  margin-top: 0;
}

.hero__title {
  font-size: 72px;
  line-height: 1.38em;
}

.wrapper--secondary-page .hero__title {
  line-height: 1.24em;
}

.hero__content--page-reviews .hero__title {
  margin-left: 5px;
  line-height: 1em;
}

.hero__subtitle {
  margin-top: 26px;
  font-size: 18px;
  font-weight: 400;
}

.hero__content .btn {
  margin-top: 34px;
}
