.offers {
  margin-top: 250px;
}

.offers .container{
  display: flex;
  flex-direction: column;
}

.offers__header-container {
  display: flex;
}

.offers__title {
  display: flex;
  font-size: 36px;
  margin-left: 2px;
}

.offers__title::after {
  content: '';
  display: flex;
  width: 21px;
  height: 28px;
  margin: auto 12px;
  background: url('../../img/flame.png') center center / cover no-repeat;
}

.offers__list {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}

.offers__item {
  display: flex;
  flex-direction: column;
  width: 362px;
  background: #FFF;
  border-radius: 5px;
}

.offers__wrapper {
  padding: 36px 21px 25px;
}

.country {
  font-size: 24px;
  color: #000;
}

.offers__services {
  display: flex;
  justify-content: space-between;
  padding: 0 45px 0 6px;
  margin-top: 23px;
}

.services__item {
  display: flex;
  align-items: center;
}

.services__text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  margin-left: 10px;
}

.offers_text {
  margin-top: 24px;
  font-size: 14px;
  line-height: 1.50em;
  font-weight: 400;
  color: #303030;
}

.offers .btn {
  margin: 24px 0 0 1px;
}