.partners {
  margin-top: 84px;
  padding-bottom: 113px;
}

.partners .container {
  display: flex;
  flex-direction: column;
}

.partners__title {
  color: #1A1B1E;
  font-size: 48px;
  margin-top: 93px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 3%;
  row-gap: 65px;
  align-items: center;
  margin-top: 90px;
}

.partners__item {
  display: flex;
}

.partners__img {
  filter: grayscale(100%);
}

.partners__img:hover {
  filter: none;
}
