.socials {
  display: flex;
  width: 176px;
  justify-content: space-between;
}

.footer--secondary-page .socials {
  padding-top: 4px;
}

.socials_item {
  opacity: 0.6;
  transition: .2s;
}

.socials_item:hover {
  opacity: 1;
}

.socials__link {
  display: flex;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__link--icon--telegram {
  background: url('../../img/socials-sprite.png') no-repeat;
  background-position: 0px -36px;
  width: 36px;
  height: 36px;
}

.socials__link--icon--vk {
  background: url('../../img/socials-sprite.png') no-repeat;
  background-position: -36px -36px;
  width: 36px;
  height: 36px;
}

.socials__link--icon--facebook {
  background: url('../../img/socials-sprite.png') no-repeat;
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}

.socials__link--icon--instagram {
  background: url('../../img/socials-sprite.png') no-repeat;
  background-position: -36px 0px;
  width: 36px;
  height: 36px;
}