.socials {
  display: flex;
  width: 176px;
  justify-content: space-between;
}

.footer--secondary-page .socials {
  padding-top: 4px;
}

.socials_item {
  opacity: 0.6;
}

.socials_item:hover {
  opacity: 1;
}

.socials__link {
  display: flex;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials_item--icon--telegram {
  background: url('../../img/telegram.png') no-repeat;
}

.socials_item--icon--vk {
  background: url('../../img/vk.png') no-repeat;
}

.socials_item--icon--facebook {
  background: url('../../img/f.png') no-repeat;
}

.socials_item--icon--instagram {
  background: url('../../img/in.png') no-repeat;
}