.trips {
  color: #000000;
}

.trips .container {
  margin-top: 97px;
  display: flex;
  flex-direction: column;
}

.trips__item {
  display: flex;
}

.trips__item:last-child {
  margin-top: 48px;
}

.trips__content {
  padding: 17px 0 0 58px;
}

.trips__title {
  font-size: 36px;
}

.trips__desc {
  margin-top: 34px;
  color: #303030;
  font-size: 16px;
  line-height: 27px;
}

.trips .btn {
  margin-top: 34px;
}

.trips .pagination {
  width: 420px;
  padding-top: 15px;
  padding-left: 35px;
}

