@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('./layout/normalize.css');
@import url('./layout/base.css');
@import url('./layout/btn.css');
@import url('./blocks/header.css');
@import url('./blocks/nav.css');
@import url('./blocks/contacts.css');
@import url('./blocks/trips.css');
@import url('./blocks/pagination.css');
@import url('./blocks/partners.css');
@import url('./blocks/footer.css');
@import url('./blocks/socials.css');

body {
  background: #F2F2F2;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #FFF;
}

.logo {
  width: 98px;
  height: 42px;
}